/* 로그인-로그인, 회원가입 메인-기업/관공업 버튼 공통 + login-switch-btn + support-banner-tab */
.common-btn {
    background: #1d5fc4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background 0.2s;
}
.common-btn:hover {
  background: #0059ac;
}


/* 로그인, 회원가입 배경 공통 */
.common-bg {
background: #f5f7fa;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 로그인, 회원가입 박스 공통 스타일 */
.common-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
}
