.evmap-mainwrap {
  min-height: 100vh;
  background: #e6f7f3;
}
.evmap-topnav {
  background: #e6f7f3;
  padding: 32px 0 10px 0;
  font-size: 1.4rem;
  color: #202844;
  font-weight: 400;
  letter-spacing: 0.01em;
  width: 100vw;
  min-width: 1080px;
}
.evmap-path b {
  font-weight: 600;
  color: #24243b;
  letter-spacing: 0.03em;
}
.evmap-content {
  max-width: 1400px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 2px 16px #0002;
  border-radius: 20px;
  margin-top: 20px;
  padding: 30px 40px 38px 40px;
  min-height: 670px;
}
.evmap-map {
  width: 100%;
  min-height: 600px;
  height: 62vh;
  border-radius: 18px;
  box-shadow: 0 1px 6px #0001;
}
.evmap-loading {
  color: #286877;
  text-align: center;
  font-size: 1.15rem;
  margin-top: 50px;
}
.evmap-popup {
  font-size: 1.02rem;
  color: #23233a;
  line-height: 1.6;
  min-width: 160px;
}
